$colorBlack: #000000;
$colorBlue: #4285f4;
$colorRed: #ec5863;
$colorGray: #616161;
$colorHover: #e4233d;
$colorHoverBlue: #0f57cc;
$colorButton: #fcfdfe;
$bgGetStarted: #fafbfd;

$bgColor: #ffffff;
